.title-app{
 text-align: center;
 margin-top: 13px;
 font-size: 20px;
}

.label_title{
  color: #2365b7;
  font-family: OpenSans-Regular;
  font-size: 10.5px;
  font-weight: 400;
  line-height: 13px;
  text-align: left;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding : 5px;
  background : #0056640a;
  margin-top: 10px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.disable-field{
  background-color: #d7d7d7;
}

.app-modal-window .modal-dialog {
  width: 486px;
  height: 207px;
  border-radius: 5px;
  margin-top: 190px;
  background-color: #ffffff;
}




.main-form{  }
.main-form .main-avatar{  }

.main-form .form{ margin-top : 5px; background-color: #f8f8f8; }

.main-form .form .form-row{ margin-bottom: 10px; }
.main-form .form .form-row:last-child{ margin-bottom: 0; }

.main-form .form .input{
  background-color: #fcfcfc;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  color: #555f77;
  font-family: inherit;
  font-size: 14px;
  padding: 5px 10px;
  outline: none;
  width: 100%;

  -webkit-transition: 350ms box-shadow;
  -moz-transition: 350ms box-shadow;
  -ms-transition: 350ms box-shadow;
  -o-transition: 350ms box-shadow;
  transition: 350ms box-shadow;
}

.main-form .form textarea.input{
  height: 100px;
  padding: 15px;
}

.main-form .form label{
  color: #555f77;
  font-family: inherit;
  font-size: 14px;
}

.main-form .form input[type=submit]{
  background-color: #555f77;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  color: #fff;
  cursor: pointer;
  display: block;
  margin-left: auto;
  outline: none;
  padding: 6px 15px;

  -webkit-transition: 350ms box-shadow;
  -moz-transition: 350ms box-shadow;
  -ms-transition: 350ms box-shadow;
  -o-transition: 350ms box-shadow;
  transition: 350ms box-shadow;
}

.main-form .form .input:focus,
.main-form .form input[type=submit]:focus,
.main-form .form input[type=submit]:hover{
  box-shadow: 0 2px 6px rgba(121, 137, 148, .55);
}

.main-form .form.ng-submitted .input.ng-invalid,
.main-form .form .input.ng-dirty.ng-invalid{
  box-shadow: 0 2px 6px rgba(212, 47, 47, .55) !important;
}

.main-form .form .input.disabled {
    background-color: #E8E8E8;
}


.mains{  }

.main-form,
.main{
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
}

.main-form .main-avatar,
.main .main-avatar{
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  height: 80px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 80px;
}

.main-form .main-avatar img,
.main .main-avatar img{
  display: block;
  height: auto;
  width: 100%;
}

